* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
  height: 100%;
	font-size: 10px;
}
body{
  height: 100%;
  
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (max-width:600px){
	html{
		font-size: 8px;
	}
}

body{
	background-image: url(./choonsic.png);
	
	background-repeat:repeat-y;
	background-position: top center;
	background-color: #0099dd;
}

#before-load{
	position: absolute;
	margin: 0 auto;
	left: 50%;
	margin-left: -15%;
	
	border-radius: 50%;
	background: coral;


	animation-name: wave; 
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-fill-mode: none;
	transform-origin: center; 
}


@keyframes wave {
	from {
    transform: rotateY(0) translateY(0) translateX(-100%);
  }

  to {
		transform: rotateY(360deg) translateY(calc(100vh - 211px)) translateX(100%);
		
  }
}